<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpeg" style="max-height: 200px; max-width: 50%; "class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto mt-3">
          <li class="nav-item px-3 mt-1">
            <div class="input-group">
                <input class="form-control py-2" type="search" placeholder="Buscar" id="example-search-input">
                <span class="input-group-append">
                  <button class="btn btn-outline-info" type="button">
                    <mat-icon style="font-size: 18px;">search</mat-icon>
                  </button>
                </span>
          </div>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#"><mat-icon style="font-size: 36px;" class="coloricono d-none d-md-block pl-5">person</mat-icon></a>
            <a class="nav-link col-sm-12 text-center d-lg-none border-bottom border-info" href="#">MI CUENTA</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#"><mat-icon style="font-size: 36px;" class="coloricono d-none d-lg-block pl-5">shopping_cart</mat-icon></a>
            <a class="nav-link col-sm-12 text-center d-lg-none  mt-n3 border-bottom border-info" href="#">CARRITO</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link col-sm-12 text-center d-lg-none border-bottom border-info" href="#">PRODUCTOS</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link col-sm-12 text-center d-lg-none border-bottom border-info" href="#">SABORES</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link col-sm-12 text-center d-lg-none border-bottom border-info" href="#">CONTACTO</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link col-sm-12 text-center d-lg-none" href="#">
              <div class="row">
                <div class="col-4">
                  <img src="/assets/images/instagram.png" class="">
                </div>
                <div class="col-4">
                  <img src="/assets/images/instagram.png" class="">
                </div>
                <div class="col-4">
                  <img src="/assets/images/instagram.png" class="">
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </nav>